{% set page_title = lbd.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{lbd.title}}"/>
{% for author in lbd.authors %}
<meta name="citation_author" content="{{author}}"/>
{% endfor %}
<meta name="citation_publication_date" content="{{config.citation_date}}"/>
<meta name="citation_conference_title"
      content="{{config.tagline|striptags|title}}"/>
<meta name="citation_inbook_title" content="{{config.proceedings_title}}"/>
<meta name="citation_abstract" content="{{lbd.abstract}}"/>
{% for keyword in lbd.keywords %}
<meta name="citation_keywords" content="{{keyword}}"/>
{% endfor %}
<meta name="citation_pdf_url" content="{{lbd.pdf_url|default('') }}"/>

{% endblock %}

{% block content %}
<div class="pp-card m-3" style="background-color: #fff">
    <div class="card-header" style="background-color: rgba(0,0,0,0);">
        <h2 class="card-title main-title text-left" style="color: #4383EC">
            {{lbd.content.title}}
        </h2>
        <h3 class="card-subtitle mb-2 text-muted text-left">
            {% for author in lbd.content.authors %}
            <a href="lbds.html?filter=authors&search={{author}}"
               class="text-muted"
            >{{author}}</a
            >{{ "," if not loop.last }}
            {% endfor %}
        </h3>
        {% if lbd.content.channel_url %}
        <div class="btn-group mb-3 mt-3">
          <a href="{{lbd.content.channel_url}}" class="btn btn-primary" style="background-color: #2294e0;">{% include 'slack_svg.html' %} {{lbd.content.slack_channel}}</a>
        </div>
        {% endif %}
        {% if lbd.content.virtual == "1" %}         
          {% if lbd.content.virtual_slot1 == "1" and lbd.content.virtual_slot2 == "1" %}
            <p> This paper will be presented virtually at 12:15 PM - 12:45 PM PST and 11:15 PM - 11:45 PM PST sessions </p>
          {% elif lbd.content.virtual_slot1 == "1" %}          
            <p> This paper will be presented virtually at 12:15 PM - 12:45 PM PST session </p>
          {% elif lbd.content.virtual_slot2 == "1" %}
            <p> This paper will be presented virtually at 11:15 PM - 11:45 PM PST session </p>
          {% else %}
            <p> This paper will be presented virtually </p>            
          {% endif %}
        {% else %}
          <p> This paper will be presented in person </p>
        {% endif %}
    </div>

</div>
<div id="details" class="pp-card m-3">
    <div class="card-body">
        <div class="card-text">
            <div id="abstractExample">
                <span class="font-weight-bold">Abstract:</span>
                {{lbd.content.abstract | markdown}}
            </div>
        </div>
        <p></p>
    </div>
</div>


  
  <div class="text-center">
    <ul class="nav nav-tabs" id="posterTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="lbd-tab" data-toggle="tab" href="#lbd" role="tab" aria-controls="lbd" aria-selected="true">Paper</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="poster-tab" data-toggle="tab" href="#poster" role="tab" aria-controls="poster" aria-selected="false">Poster</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Video</a>
      </li>
    </ul>
  </div>
  

  <div class="tab-content" id="posterTabsContent">
    <div class="tab-pane fade show active" id="lbd" role="tabpanel" aria-labelledby="lbd-tab">
      {% if lbd.content.pdf_path %}
      <div style="height: 80vh;">
        <iframe src="{{ lbd.content.pdf_path | replace('/view?usp=sharing', '/preview') | replace('/view', '/preview') }}" 
                width="100%" 
                height="100%" 
                frameborder="0"
                allow="autoplay"></iframe>
      </div>
      {% else %}
      <p class="text-center mt-3"><em>No lbd available</em></p>
      {% endif %}
    </div>
  
    <div class="tab-pane fade" id="poster" role="tabpanel" aria-labelledby="poster-tab">
      {% if lbd.content.poster_pdf %}
      <div style="height: 80vh;">
        <iframe src="{{ lbd.content.poster_pdf | replace('/view?usp=sharing', '/preview') | replace('/view', '/preview') }}" 
                width="100%" 
                height="100%" 
                frameborder="0"
                allow="autoplay"></iframe>
      </div>
      {% else %}
      <p class="text-center mt-3"><em>No poster available</em></p>
      {% endif %}
    </div>
  
    <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
      {% if lbd.content.video %}
      <div class="text-center">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"           
                  src="{{ lbd.content.video | replace('/view?usp=sharing', '/preview') | replace('/view', '/preview') | replace('/view?usp=drive_link&#39', '/preview') }}" 
                  frameborder="0" 
                  allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen></iframe>
        </div>
      </div>
      {% else %}
      <p class="text-center mt-3"><em>No video available</em></p>
      {% endif %}
    </div>
  </div>
  
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    console.log(JSON.stringify("{{lbd}}"));
    // Ensure jQuery and Bootstrap are loaded
    if (typeof $ === 'undefined') {
      console.error('jQuery is not loaded');
      return;
    }
    
    // Initialize all tabs
    $('#posterTabs a').on('click', function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
  
    // Show lbd tab by default
    $('#posterTabs a[href="#lbd"]').tab('show');
    MathJax.typesetPromise().then(() => {
    // modify the DOM here
        MathJax.typesetPromise();
    }).catch((err) => console.log(err.message));
  });
  </script>
  
  {% endblock %}
