{% set active_page = "Schedule" %}
{% set page_title = "Schedule" %}
{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include 'schedule_head.html' %}
{% endblock %}

{% block tabs %}
{{ components.navtabs([
  ("calendar.html", "Calendar", "calendar-html"),
  ("tutorials.html", "Nov 10", "tutorials-html"),
  ("day_2.html", "Nov 11", "day_2-html"),
  ("day_3.html", "Nov 12", "day_3-html"),
  ("day_4.html", "Nov 13", "day_4-html"),
  ("day_5.html", "Nov 14", "day_5-html"),
  ("day_6.html", "Nov 15", "day_6-html"),
  ])
}}
{% endblock %}

{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <!-- Calender tab -->
  <div
    class="tab-pane active"
    id="tab-calendar"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div class="form-group col">
      <label for="tzOptions">Timezone:</label>
      <select id="tzOptions" class="selectpicker" data-live-search="true">
      </select>
    </div>

    <!-- full cal for browser-->
    <div id="calendar" class="d-none d-sm-block"></div>

    <!-- small cal for smart phones-->
    <div id="calendar_small" class="d-sm-none"></div>


  </div>

  <!-- Day Tab -->

  <script type="text/javascript">
    window.onload = () => {
      const tabPanes = $(".tab-pane");
      // Create calendars:
      make_cal(false).then(({ render }) => {
        // render cal with all tabs visible
        tabPanes.css("display", "block");
        render();
        tabPanes.css("display", "");

        // re-render cal on resize
        $(window).on(
          "resize",
          _.debounce(() => {
            tabPanes.css("display", "block");
            render();
            tabPanes.css("display", "");
          }, 500)
        );
      });
      // ----
      lazyLoader();
    };
  </script>
</div>
{% endblock %}
