{% set active_page = industry.title %}
{% set page_title = industry.title %}
{% extends "base.html" %}
{% block content %}
<!-- Title -->
<div class="pp-card m-3" style="">
    <div class="card-header" style="background-color: rgba(0,0,0,0);">
        <h2 class="card-title main-title text-left" style="">
        {{industry.title}}
        </h2>
        {% if industry.channel_url %}
        <a href="{{industry.channel_url}}" class="btn btn-primary mr-3" style="background-color: #2294e0;">{% include 'slack_svg.html' %} {{industry.channel_name}}</a>
        {% endif %}       
    </div>
</div>
<div id="details" class="pp-card m-3">
    <div class="card-body">
        {% if industry.image %}
        <div class="card-logo"> 
            <img src="/static/images/{{industry.image}}" class="card-img-top mb-3" alt="{{industry.title}}" style="max-width: 25%; height: auto;">
        </div>
        {% endif %}

        <div class="card-text">     
        {% if industry.abstract %}   
        <div id="abstractExample">
            <span class="font-weight-bold">Description:</span>
            {{industry.abstract|markdown}}
        </div>
        {% endif %}

        {% if industry.pdf %}
        <div class="pdf_embed"> 
            <iframe src="{{industry.pdf | replace('view?usp=sharing', 'preview')}}" width="100%" height="800px"></iframe>            
        </div>
        {% endif %}

        {% if industry.video %}
        {% set videos = industry.video.split("\n") %}
            {% for video in videos %}
            <div class="video_embed"> 
                <iframe width="100%" height="315" src="{{video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {% endfor %}
        {% endif %}

        <!-- {% if industry.registered_email %}
        <div class="email">
            Contact:
            {% set emails = industry.registered_email.split("\n") %}
            {% for email in emails %}
            <span> <a href="mailto:{{industry.registered_email}}" class="card-link"> {{email}} </a> </span> <br/> 
            {% endfor %}
        </div>
        {% endif %} -->
        </div>
        {% if industry.company_url %}
        <div class="url">      
            Visit: <a href="{{industry.company_url}}" class="card-link"> {{industry.company_url}} </a>
        </div>
        {% endif %}
       
    </div>
</div>
<!-- Presentation Embed -->
{% endblock %}