{% set active_page = "Tutorials" %}
{% set page_title = "Tutorials" %}
{% extends "base.html" %}
{% block tabs %}
{{ components.navtabs([
  ("calendar.html", "Calendar", "calendar-html"),
  ("tutorials.html", "Nov 10", "tutorials-html"),
  ("day_2.html", "Nov 11", "day_2-html"),
  ("day_3.html", "Nov 12", "day_3-html"),
  ("day_4.html", "Nov 13", "day_4-html"),
  ("day_5.html", "Nov 14", "day_5-html"),
  ])
}}
{% endblock %}
{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <div id="day">
    <!-- Workshops -->
    <!-- {{ components.section("Tutorials") }} -->
    <div class="speakers">
      {{ components.tutorialgroup(tutorials) }}
    </div>
  </div>
</div>
<script>
  $('.nav-pills .nav-item .nav-link').each(function() {
console.log(window.location.pathname.split('/')[1].split('.')[0])
if (window.location.pathname.split('/')[1].replace('.', '-').includes($(this).attr('id')) ) {
  $(this).addClass('active');
}
})
</script> 
{% endblock %}

